<div>
  <h3>Airline Pasengers</h3>
  <app-passenger-count [items] = "passengers"></app-passenger-count>
  @for(passenger of passengers; let i = $index; track passenger){

  <app-passenger-detail [detail]="passenger"></app-passenger-detail>
  }
  <ul>
    @for(passenger of passengers; let i = $index; track passenger){
      <li>
        <span
          class="status"
          [class.checked-in]  = passenger.checkedIn></span>
          {{i}} : {{ passenger.fullname }}
        <div class="date">
          Check in date : 
          {{ passenger.checkInDate ?  (passenger.checkInDate | date: 'yMMMMd') : 'Not checked In' }}
        </div>
        <div class="children">
          Children: {{ passenger.children?.length || 0}}
        </div>
      </li>
    }
  </ul>
</div>
